.loginCard {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 90px 70px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.loginCard:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.loginCard h3 {
	margin: 0px;
	font-size: 2.2em;
	font-weight: 500;
}
.loginForm {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.loginForm input {
	font-family: "Poppins", sans-serif;
	width: calc(100% - 40px);
	margin: 10px 0;
	line-height: 3em;
	padding: 0 26px;
	font-size: 1em;
	border: 2px solid #f1f1f1;
	border-radius: 5px;
	color: rgba(3,27,78,.9);
}
.loginInput:focus {
	border: 2px solid blue;
}
.loginForm input:nth-child(3) {
	/*background: #24d0ad;*/
	width: 100%;
	background: linear-gradient(to right, rgb(0, 30, 255), rgb(58, 156, 255)) repeat scroll 0% 0%;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2.5em;
	border: 0;
	box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
	cursor: pointer;
}