 
section.homeSection {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
}
.home-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
}
.addInput {
	width: 350px;
	height: 40px;
	font-size: 1.2em;
	padding-left: 20px;
	border: 2px solid darkslategray;
	border-radius: 20px;
}
.home-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-wrapper {
	display: flex;
	flex-direction: column;
	width: 40vw;
}